* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Times New Roman', Times, serif;
    --header-bg: #121b2f;
    --header-text: #ffffff;
    --aside-bg: #1c293c;
    --section-bg: #f9fafc;
    --section-text: #324158;
    --footer-bg: #0e172b;
    --footer-text: #8595ad;
    --link-color: #165dfc;
    --base-font-size: 1rem;
}

html {
    font-size: 16px;
}

h1 {
    font-size: clamp(1.25rem, 2.5vw, 2rem);
}

h2 {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

p,
li,
a {
    font-size: clamp(.9rem, 1.4vw, 1rem);
}

.dark-theme {
    --header-bg: #0d1117;
    --header-text: #c9d1d9;
    --aside-bg: #161b22;
    --section-bg: #0d1117;
    --section-text: #c9d1d9;
    --footer-bg: #0d1117;
    --footer-text: #8b949e;
    --link-color: #58a6ff;
}

body {
    /* margin: 0; */
    height: 100vh;
    /* overflow: hidden; */
 
}

.container {
    padding-top: 3.76rem;
    height: 100%;
    overflow-y: auto;

}

header {
    background: var(--header-bg);
    color: var(--header-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;

}

.theme-toggle {
    background: transparent;
    color: var(--header-text);
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.theme-toggle:hover {
    transform: scale(1.2);
}

.column-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5rem;
    margin-top: 2.5rem;

}


.column-container,
section {
    margin-top: 0;
}


.header-info h1 {
    margin: 0;
    /* font-size: 1.5rem; */
}

.header-info span {
    /* font-size: 1rem; */
    color: #aeb9c7;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 1.3rem;
    padding-right: 1rem;
}

.nav-bar a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;
}

.nav-bar a:hover {
    color: #404142;
}

aside {
    background: var(--aside-bg);
    color: var(--header-text);

    position: sticky;
    top: 0;
    height: calc(100vh - 3.76rem);
    overflow-y: auto;
}

.side-panel-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5vh;
    padding-top: 1rem;
}

.side-panel-logo h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: #324158;
    margin-bottom: 1rem;
    color: #8fa1b9;
    font-size: 3rem;
}

.side-panel-logo h2 {
    color: #dadde0;
    font-size: 1.5rem;
    margin: 0;
}

.side-panel-logo span {
    color: #8fa1b9;
    font-size: 1.2rem;
}

.side-panel-quick-info {
    border-radius: 1rem;
    background-color: #324158;
    margin: 1rem;
    padding: 1rem;
}

.side-panel-quick-info ul {
    list-style: none;
    padding: 0.4rem;
}

.side-panel-quick-info li {
    color: #cad5e2;
    font-size: 0.9rem;
    padding: 0.2rem;
}

.side-panel-nav-bar ul {
    padding-left: 0;
    list-style: none;
}

.side-panel-nav-bar a {
    display: block;
    padding: 1rem;
    margin: 0 1rem;
    text-decoration: none;
    color: #dcdfe1;
    border-radius: 0.8rem;
}

.side-panel-nav-bar a.active {
  color: #00bcd4;
  font-weight: bold;
  border-left: 3px solid #00bcd4;
  padding-left: 8px;
  transition: all 0.3s ease;
}

.side-panel-nav-bar a:hover {
    background-color: #4b5d75;
}

section {
    background: var(--section-bg);
    color: var(--section-text);
    margin-top: 2.5rem;
    padding: 2rem;
}

section h3 {
    color: #2f3748;
    /* margin-top: 70px; */
}

section hr {
    border: 0.12rem solid #cad5e2;
}



.section-card {
    background: #ffffff;
    padding: 1.5rem;
    /* instead of px */
    border-radius: 0.9rem;
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.08);
    /* use rem for shadows */
    color: var(--section-text);
    font-size: 1rem;
}


.section-vedio {
    padding: 1.3rem 2rem;
    border-radius: 0.9rem;
    background-color: #f9fafc;
    border: 2px dashed #cad5e2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.section-vedio video {
    width: 100%;
    border-radius: 0.8rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.video-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #eceff2;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.upload-btn {
    background-color: #2b4eff;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 0.9rem;
    border: none;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.remove-btn {
    background-color: #0a0a0a;
    color: #fff;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 0.85rem;
}

.hidden {
    display: none !important;
}

.section-vedio input[type="file"] {
    display: none;
}

.section-vedio label {
    background-color: #030213;
    color: #fff;
    padding: 0.6rem 1.2rem;
    border-radius: 0.375;
    cursor: pointer;
    font-size: 0.95rem;
    /* transition: background 0.3s; */
}

.section-experience,
.section-education {
    display: flex;
    justify-content: space-between;
}

.section-details h4,
.education-details h4 {
    margin: 0;
}

.section-details h5,
.education-details h5 {
    margin: 0.3rem 0;
    color: #606e82;
}

.section-card li {
    padding-bottom: 1rem;
    font-weight: 300;
}

.section-card h6 {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem;
}

.section-framwork {
    color: #030213;
    margin-top: 1rem;
}

.section-framwork ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.section-framwork li {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: #eceff2;
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
}

.section-project-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.section-project-name {
    background: #ffffff;
    padding: 2rem 2rem;
    border-radius: 0.9rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    color: #324158;
}

.cert-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.cert-header h5 {
    margin: 0;
}

.cert-header ion-icon {
    font-size: 1.2rem;
    color: #324158;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease, color 0.3s ease;
}

.section-project-name:hover ion-icon {
    opacity: 1;
    visibility: visible;
}

.cert-header ion-icon:hover {
    color: #aab2c3;
    border-radius: 1px;
}

.section-project-name h5 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 0;
}

.section-project-name ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-left: 0;
    margin: 2rem 0;
}

.section-project-name li {
    background: #030213;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-size: 0.7rem;
}

.section-project-name a {
    text-decoration: none;
    color: #165dfc;
}

.cert-details {
    /* margin-top: 1rem; */
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0;
    background-color: #f9fafc;
}

.cert-details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-weight: 400;
}

.cert-iframe {
    width: 100%;
    height: 4.34rem;
    border: none;
    margin-top: 0.8rem;
    border-radius: 0.375rem;
}

.cert-details summary span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cert-details[open] .leading-icon {
    transform: rotate(90deg);
}

.trailing-icon {
    color: #1d1d1e;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal:target {
    display: flex;
}

.modal-content {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 0.75rem;
    width: 25rem;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

.modal-header h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #0a0a0a;
}

.close {
    text-decoration: none;
    font-size: 1.5rem;
    color: #545454;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.modal-body p {
    color: #62748e;
    margin-top: 0rem;
}

.modal-body label {
    font-weight: 600;
    color: #0a0a0a;
    font-size: 0.9rem;
}

.modal-body input {
    padding: 0.4rem;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    width: 100%;
    background: #f3f3f5;
}

.modal-body input:focus {
    outline: none;
    border-color: rgb(242, 241, 241);
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
    margin-top: 0.5rem;
}

.modal-footer .btn {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.modal-footer .cancel {
    border: 1px solid #ccc;
    color: #000;
}

.modal-footer .cancel:hover {
    background-color: #eeebebef;
}

.modal-footer .save {
    background: #030213;
    color: #fff;
}


.add-section-btn {
  display: block;
  margin: 2rem auto;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.add-section-btn:hover {
  background: #0056b3;
}


.github-profile {
    text-align: center;
    padding: 15px;
}

.github-profile .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.github-profile .fetch-btn {
    background: #24292f;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.github-profile .fetch-btn:hover {
    background: #0366d6;
}

.github-profile a {
    color: #0366d6;
    text-decoration: none;
}





footer {
    /* grid-column: 1 / -1; */
    width: 100%;
    padding: 2rem 10rem;
    background: var(--footer-bg);
    color: var(--footer-text);
}

footer hr {
    border: 0.05rem solid #1c293c;
}

.footer-info {
    padding-bottom: 2rem;
}

.footer-info h2 {
    color: #ffffff;
}

.footer-info span {
    color: #73839a;
}

.footer-info-copy-write {
    display: flex;
    justify-content: center;
    color: #8595ad;
    padding: 3rem;
}


@media (max-width: 1023px) {

    body {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    /* Sidebar comes next */
    aside {
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
        order: 2;
    }

    /* Main content section below sidebar */
    section {
        width: 100%;
        order: 3;
        padding: 1rem;
    }

    /* Footer at the bottom */
    footer {
        width: 100%;
        order: 4;
        padding: 1rem;
    }

    /* Adjust column-container layout */
    .column-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    /* Resize text for smaller screens */
    header h1,
    .side-panel-logo h2 {
        font-size: 1.2rem;
    }

    .side-panel-nav-bar ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem 1rem;

    }

    .nav-bar ul {
        flex-wrap: wrap;
        gap: 0.8rem;
        padding-right: 0;
    }

    .section-card {
        padding: 1rem;
    }
}


@media (max-width: 639px) {


    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .header-info {
        text-align: center;
    }

    .nav-bar {
        order: 2;
        text-align: center;
    }

    .nav-bar ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.8rem;
        padding: 0;
        margin: 0;
    }

    .theme-toggle {
        order: 3;
        align-self: flex-end;
        margin-left: 2rem;
    }

    .section-project-card  {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100vw;

    }
}

